@charset "ISO-8859-1";

#slideNumber {
	font-size: 300%;
	width: 30%;
}

#movementbuttonlist {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

#movementbuttonlist > li {
	display: inline;
	width: 300px;
  	background-color: yellow;
  	margin: 0 10px 0 0;
}

#main {
	font-size: 300%;
}

.moverbutton {
	display: inline-block;
	font-size: 200%;
	padding: 5% 3%;
  	float: left;
  	background-color: #aaff7a;
  	/*border: 1px solid #ffff80;*/
  	border: none;
  	border-right: 1px solid black;
}

#mainDiv {
	width: 50%;
	height: 500px;
	margin: auto;
  	text-align: center;
}

#movementbuttons {
	margin: auto;
	width: 50%;
  	text-align: center;
}