@charset "ISO-8859-1";

#slidelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#slidelist > li {
	display: inline;
	width: 100px;
  	background-color: yellow;
}

#main {
	font-size: 200%;
}

#slideList {
	margin: auto;
	width: 50%;
  	text-align: center;
}

.slidelistbutton {
  	display: inline-block;
	font-size: 200%;
}

.moverbutton {
	display: inline-block;
	font-size: 200%;
}

#mainDiv {
	width: 50%;
	height: 500px;
	margin: auto;
  	text-align: center;
}

#buttons {
	margin: auto;
	width: 50%;
  	text-align: center;
}